vim/.config/nvim/plugin/packer_compiled.lua
bin/bin/sga-*
bin/bin/oh-my-posh
bin/bin/nvim
bin/bin/lazygit
bin/bin/stylua
bash/.bashrc.d/*.local.enabled
lazygit/.config/lazygit/*
!lazygit/.config/lazygit/config.yml
