[Unit]
Description=SSH key agent
StartLimitBurst=7
StartLimitIntervalSec=33

[Service]
Type=simple
# DISPLAY required for ssh-askpass to work
Environment=DISPLAY=:0
Environment=SSH_ASKPASS='/usr/libexec/seahorse/ssh-askpass'
Environment=SSH_ASKPASS_REQUIRE=prefer
ExecStart=/usr/libexec/gcr-ssh-agent %t/gcr
ExecStartPre=/usr/bin/mkdir -p %t/gcr
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
