[Unit]
Description=Go language server.
StartLimitBurst=7
StartLimitIntervalSec=33

[Service]
ExecStart=%h/go/bin/gopls serve -listen="unix;/tmp/gopls-daemon-socket"
ExecStartPre=/usr/bin/rm -f /tmp/gopls-daemon-socket
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
