[Unit]
Description=sga guard devvm
StartLimitBurst=7
StartLimitIntervalSec=33

[Service]
Type=simple
EnvironmentFile=%h/.config/environment.d/path.conf
Environment="SSH_AUTH_SOCK=/run/user/1000/ssh-agent.socket"
Environment=DISPLAY=:0
ExecStart=%h/bin/sga-guard --stub=/home/loki/bin/sga-stub loki@devvm2
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
