[Unit]
Description=SSH key agent
StartLimitBurst=7
StartLimitIntervalSec=33

[Service]
Type=simple
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
# DISPLAY required for ssh-askpass to work
Environment=SSH_ASKPASS='%h/bin/auto-ssh-askpass.sh'
Environment=SSH_ASKPASS_REQUIRE=prefer
ExecStart=/usr/bin/env ssh-agent -D -a $SSH_AUTH_SOCK
ExecStartPre=/usr/bin/rm -f $SSH_AUTH_SOCK
ExecStartPost=/usr/bin/env ssh-add -q %h/.ssh/notebook
ExecStartPost=/usr/bin/env ssh-add -q %h/.ssh/wb
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
