[Unit]
Description=ssh clipboard
StartLimitBurst=7
StartLimitIntervalSec=33

[Service]
Type=simple
Environment="SSH_AUTH_SOCK=/run/user/1000/ssh-agent.socket"
Environment=DISPLAY=:0
Environment=SSH_ASKPASS='/usr/bin/ksshaskpass'
Environment=SSH_ASKPASS_REQUIRE=prefer
ExecStart=/usr/bin/ssh -T -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -R 127.0.0.1:11988:127.0.0.1:1988 loki@devvm2 sleep infinity 
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
